@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
* a {
  text-decoration: none;
  color: #ffffff;
}

* p {
  font-size: 2rem;
}
body {
  font-family: "Rubik", sans-serif;
  margin-top: 8rem;
  margin-left: 0;
  margin-right: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

/*NAVBAR*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 4rem;
  padding: 0.2rem 1rem;
  background: rgb(255, 255, 255);
  box-shadow: 0px -1px 14px 4px rgba(0, 0, 0, 0.65);
  margin-bottom: 5rem;
}

.navbar img {
  width: 3rem;
  object-fit: cover;
  margin-top: 0.2rem;
}

.navbar a {
  position: relative;
  width: max-content;
  text-decoration: none;
  background-color: white;
  border-radius: 15px;
  padding: 0.4rem 0.5rem;
  color: #222322;
  line-height: -10px;
  transition: color 300ms ease-out;
}

.c-invert:hover {
  color: #f99c1b;
}

/*HOME*/

.img-phone-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35rem;
  position: relative;
}

.img-phone-box img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

h1 {
  position: absolute;
  top: 5rem;
  left: 12rem;
  font-size: 4rem;
}

.img-phone-box p {
  position: absolute;
  top: 11rem;
  left: 15rem;
}

.best-products {
  margin-bottom: 5rem;
  margin-top: -4rem;
}

/*TOP5 SECTION*/

.top5-flex-wrap {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin-left: 8rem;
}

.product-box {
  display: flex;
  justify-content: center;
  width: 18rem;
  height: 22rem;
  background-color: #ededec;
  border-radius: 12px;
  overflow: hidden;
  padding-bottom: 0.5rem;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 10rem;
  height: 12rem;
  margin-top: 2rem;
}

.product-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.phone-brand {
  font-weight: bold;
}

.description {
  margin-left: -2rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.product-box {
  transition: transform 500ms ease-out;
}
.product-box:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.buy-button {
  position: absolute;
  top: 3rem;
  right: -2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2rem;
  background-color: #f99c1b;
  color: white;
  border-radius: 50px;
}
.buy-button:hover {
  filter: brightness(0.9);
}

/*classi riutilizzabili*/
.orange {
  color: #f99c1b;
}

.bigger-size {
  font-size: 2.6rem;
}

.bold {
  font-weight: bold;
}

.align-center {
  text-align: center;
}

.green {
  color: rgb(50, 223, 53);
}

.red {
  color: red;
}

.margin-bottom {
  margin-bottom: 2rem;
}

/*ANIMATION of x*/
@keyframes first-x-animation {
  0% {
    color: #000000;
  }
  20% {
    color: #f99c1b;
  }
  40% {
    color: #000000;
  }
  100% {
    color: #000000;
  }
}

@keyframes second-x-animation {
  0% {
    color: #000000;
  }
  20% {
    color: #000000;
  }
  40% {
    color: #f99c1b;
  }
  100% {
    color: #000000;
  }
}

@keyframes third-x-animation {
  0% {
    color: #000000;
  }
  20% {
    color: #000000;
  }
  40% {
    color: #000000;
  }
  60% {
    color: #f99c1b;
  }
  100% {
    color: #000000;
  }
}
.first-x {
  animation: first-x-animation 4200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.second-x {
  animation: second-x-animation 4200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.third-x {
  animation: third-x-animation 4200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
